.save_btn{
    margin-top:8px;
    
}
.dash_block {
    margin-left: 20px;
    padding-bottom: 1px;
}
.dash_block {
    padding-top: 20px;
}
 .text-selsct-tmb-glry
{
  color: #555555;
    margin-left: 3px;
    padding: 8px;
    width: 176px;
    
}
 .text-selsct-img-upload
{
 
    
    color: #555555;
    margin-left: 2px;
    padding: 8px;
    width: 294px;
}

.text-input-img-upload {
    color: #555555;
    margin-left: 2px;
    padding: 8px;
    width: 278px;
}